body {
    background-color: #ECEFF1;
}

.mainStyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: blueviolet;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
}

.secoundStyle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #01579B    ;
    margin-left: 35px;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;

}

#secondaryStyle1{
    color: #E65100;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 65px;}


p{
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #01579B    ;
    margin-left: 50px;
    text-align: left;
    font-weight: bold;
}

ol {
    margin-bottom: 70x;
    list-style-type:decimal;
    margin-left: 90px;
    font-size: medium;
    color: #004D40
    ;
}

ul {
    margin-top: 70px;
    margin-left: 90px;
    list-style-type:disc;
    font-size: medium;
    color: #004D40;
}

li {
    margin-top: 30px;
}

section {
    height: 100%;
}


img {
    margin: 100px;
}

.navStyle {
    display: inline-block;

}

header ul li{
  display: inline-block;
  float: right;
    margin-right: 10px;
    border-style: outset outset outset outset;
    margin-right: 5px;
    margin-left: 5px;
    border-width: medium;
    border-color: #80CBC4;
    background-color: #EDF6E5;

}